global:
  slack_api_url: https://hooks.slack.com/services/<MAGIC TOKEN>
inhibit_rules:
  - equal:
      - namespace
      - alertname
    source_match:
      severity: critical
    target_match_re:
      severity: warning|info
  - equal:
      - namespace
      - alertname
    source_match:
      severity: warning
    target_match_re:
      severity: info
route:
  group_by:
    - namespace
    - alertname
    - service
    - cluster
  group_interval: 1m
  group_wait: 30s
  receiver: Warning
  repeat_interval: 12h
  routes:
    - receiver: Critical
      match:
        severity: critical
    - receiver: Warning
      match:
        severity: warning

receivers:
  - name: Warning
    slack_configs:
      - channel: '#<CHANNEL_NAME>'
        icon_emoji: ':warning:'
        username: SRE AlertManager
        text: '{{ template "slack.default.text" .}}'
  - name: Critical
    slack_configs:
      - channel: '#<CHANNEL_NAME>'
        username: SRE AlertManager
        icon_emoji: ':rotating_light:'
        text: '{{ template "slack.default.text" .}}'
