## Ignore user-generated secrets for some pre-reqs
*env.secret
*~
*.secret
gitops-applications/alertManager/alertmanager.yaml
.history
*/**/.history
*.DS_Store
*.vscode
ansible-playbooks/kubeconfig
ansible-playbooks/default.yml
ansible-playbooks/venv/
ansible-playbooks/vars/
vars.yml
*/**/vars.yml
