---
# Build a dynamic group with only matching bastions
# --limit only works with name and groups
# - hosts: bastion
#   tasks:
#     - block:
#       - name: Add only current host to the bastion_filtered group
#         add_host:
#           name: '{{ item }}'
#           groups: bastion_filtered
#         when: hostvars[item]['tags']['cluster_name'] == cluster_name
#         loop: "{{ ansible_play_hosts }}"
#       when: 
#       - cluster_name is defined
#       - dynamic is defined
#       run_once: true

#     - block:
#       - name: Add all hosts running this playbook to the bastion_filtered group
#         add_host:
#           name: '{{ item }}'
#           groups: bastion_filtered
#         loop: "{{ ansible_play_hosts }}"
#       when: 
#       - cluster_name is not defined
#       - dynamic is defined
#       run_once: true

- hosts: bastion
  gather_facts: no
  become: true
  environment:
    ENV: "{{ ENV }}"
    K8S_AUTH_KUBECONFIG: "{{ K8S_AUTH_KUBECONFIG }}"
  tasks:
  - include_role:
      name: ../roles/deploy-acm-stack
