**************** Welcome to the {{ ocp4_metadata.clusterName }} bastion *********
This is the bastion for "{{ ocp4_metadata.clusterName }}" cluster in {{ ocp4_metadata.azure.cloudName }}
Region: {{ ocp4_metadata.azure.region }} Resource Group: {{ ocp4_rg }}

OCP4 Root path: {{ root_path }}
*******************************************************************************
