apiVersion: v1
clusters:
- cluster:
    server: "{{ api_endpoint }}"
  name: default
contexts:
- context:
    cluster: default
    user: admin
  name: admin
current-context: admin
kind: Config
preferences: {}
users:
- name: admin
  user:
    token: "{{ api_token }}"
