# observability storage
thanos:
  type: AZURE
  config:
    storage_account: plain_text
    storage_account_key: plain_text
    container: mydata
    endpoint: plain_text
    max_retries: 0

#
# thanos:
#   type: S3
#   config:
#     bucket: <S3_BUCKET_NAME>
#     endpoint: <S3_ENDPOINT>
#     region: <S3_REGION>
#     access_key: <AWS_ACCESS_KEY>
#     insecure: false
#     signature_version2: false
#     secret_key: <AWS_SECRET_KEY>

# github repository secret for argocd
github:
  data:
    password: base64_encoded_text
    url: base64_encoded_text
    username: base64_encoded_text

aap_s3: |
  s3-access-key-id=
  s3-secret-access-key=
  s3-bucket-name=
  s3-region=us-east-2

# plain text pull secret enclosed around ticks
PULL_SECRET_PLAIN_TEXT: ''
